.wrapper {
    background-image: url(../../assets/bg1.jpg);
    background-size: cover; /* Görüntüyü kapsayacak şekilde ayarlar */
    background-position: center; /* Görüntüyü ortalar */
    background-repeat: no-repeat; /* Görüntünün tekrarlamasını engeller */
    height: auto; /* Ekran yüksekliğine uyacak şekilde ayarlar */
    
  }
  